.btn-circle-flat {
      display: inline-block;
      text-decoration: none;
      background: #87befd;
      color: #FFF;
      width: 200px;
      height: 200px;
      line-height: 200px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      transition: .4s;
      font-size: 20px;
}

.btn-circle-flat-end {
      display: inline-block;
      text-decoration: none;
      background: #BDC3C7;
      color: #FFF;
      width: 200px;
      height: 200px;
      line-height: 200px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      transition: .4s;
      font-size: 20px;
}

a:hover {
      text-decoration: none;
}

.jumbotron{
      background-color:#fff;
}

.pagetop {
      cursor:pointer;
      position:fixed;
      bottom:50px;
      right:50px;
      background: #87befd;
      color: #FFF;
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      transition: .4s;
      font-size: 20px;
}

.fa-arrow-alt-circle-up {
  color: #87befd;
}

.result-number {
      background: #87befd;
      color: #FFF;
      width: 100px;
      height: 100px;
      line-height: 100px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      transition: .4s;
      font-size: 50px;
}

